.chat-main{
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    &__names{
      &__main{
        color: #333333;
        font-size: 20px;
        margin: 35px 0px 15px 0px;
      }
      &__sub{
        color: #999999;
        font-size: 12px;
        display: flex;
      }
    }
    &__edit{
      color: #38aef0;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      border: 1px solid #38aef0;
      margin: 28px 0px;
      padding: 0px 20px;
    }
  }
  &__message{
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px 0px;
    background-color: #fafafa;
    overflow: scroll;
    &-list{
      background-color: #fafafa;
      width: calc(100vw - 300px);
      margin-bottom: 30px;
      &__names{
        display: flex;
        margin-bottom: 12px;
        &__main{
          color: #333333;
          font-size: 16px;
          margin-right: 5px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
        }
      }
      &__contents{

      }
        &__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 46px;
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    padding: 20px 40px 20px 50px;
    &__contents{
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: space-between;
      &__texts{
        width: 100%;
        background-color: #fafafa;
        position: relative;
        &__main{
          border: none;
          height: 50px;
          width: 100%;
          padding: 0px 40px 0px 10px;
        }
        &__photo{
          position: absolute;
          right: 10px;
          &__icon{
            font-size: 25px;
            line-height: 50px;
          }
          &__hidden{
            display: none;
          }
        }
      }
      &__send{
        color: #fafafa;
        background-color: #38aef0;
        border: 1px solid #38aef0;
        margin-left: 15px;
        padding: 0px 30px;
      }
    }
  }
}