.side-bar{
  width: 300px;
  &__user-name{
    background-color: #253141;
    height: 100px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__chat{
      padding: 20px 20px 40px 20px;
      color: #ffffff;
      font-weight: bold;
      &__main{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__sub{
        font-size: 11px;
      }
    }
  }
}

.top-items{
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  &__name{
    color: #ffffff;
    font-weight: bold;
  }
  &__icons{
    display: flex;
    justify-content: end;
    &__edit{
      margin-left: 5px;
      & a{
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}